header {
	padding-left: 10px;
	color: white;
	text-decoration: none;
	position: relative;
	left: -150px;
}
nav ul {
	list-style-type: none;
	padding-right: 20px;
	margin: 10px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	float: right;
}
nav li {
	position: relative;
	right: -400px;
	bottom: -70px;
	float: left;
	padding-right: 85px;
}
nav a{
	text-decoration: none;
	padding: 10px;
	color: black;
	font-family: Arial;
	font-size: 17px;
}
.logo {
	width: 1900px;
	height: 500px;
	position: relative;
    bottom: -100px;
}
h1 {
	position: relative;
	bottom: -20px;
	right: -640px;
	color: #071322;
	font-size: 33px;
}
#logo-header {
	text-decoration: none;
}
h2 {
	color: #C3C6C5;
	position: relative;
	top: -300px;
	right: -170px;
	font-size: 70px;
}
p {
	position: relative;
	top: -290px;
	right: -150px;
	width: 280px;
	padding: 20px;
}
.boton {
	width: 150px;
	height: 40px;
	background: #040D1C;
	position: relative;
	top: -270px;
	right: -200px;
	text-align: center;
}
.boton h4 {
	font-weight: normal;
	position: relative;
	bottom: -10px;
}
.caja {
	width: 1900px;
	height: 500px;
	background-image: url("../img/textura_2.jpg");
	background-repeat: repeat;
	position: relative;
	left: -154px;
	top: -143px;
}
.parrafo {
	position: relative;
	bottom: -360px;
	right: -310px;
}
.parrafo p {
	font-size: 30px;
	width: 930px;
	text-align: center;
}
.separador {
	width: 160px;
	height: 160px;
	position: relative;
	right: -800px;
	bottom: -20px;
}
.barra {
	width: 400px;
	height: 80px;
	background: #192951;
	border-radius: 10px;
	position: relative;
	right: -680px;
	bottom: -10px;
}
span {
	font-size: 20px;
	color: white;
	position: relative;
	bottom: -25px;
	right: -120px;
}
.imagenes1 {
	width: 950px;
	height: 400px;
	position: relative;
	top: -144px;
	left: -153px;
	border: 1px solid #192951;
}
.imagenes2 {
	width: 950px;
	height: 400px;
	position: relative;
	top: -144px;
	right: -325px;
	border: 1px solid #192951;
}
.instructores {
	width: 750px;
	height: 100px;
	background: #192951;
	position: relative;
	right: -450px;
	bottom: -156px;
	border-radius: 10px;
}
h5 {
	position: relative;
	top: -370px;
	right: -250px;
	color: white;
	font-size: 25px;
	font-weight: normal; 
}
.caja1 {
	width: 1900px;
	height: 400px;
	background-image: url("../img/textura_2.jpg");
	background-repeat: repeat;
	position: relative;
	left: -154px;
	top: -148px;
}
.parrafo1 {
	position: relative;
	bottom: -400px;
	right: -310px;
}
.parrafo1 p {
	font-size: 50px;
	width: 1240px;
	text-align: center;
}
iframe {
	width: 600px;
	height: 350px;
	position: relative;
	bottom: -60px;
}
.cajaprincipal {
	width: 1900px;
	height: 480px;
	background: #192951;
	position: relative;
	left: -153px;
	top: -149px;
}
h6 {
	position: relative;
	bottom: -80px;
	right: -90px;
	color: white;
	font-size: 16px;
	width: 600px;
	font-weight: normal;
}
.parrafofinal {
	position: relative;
	bottom: -370px;
	left: -80px;
	color: white;
}
.parrafofinal p{
	width: 160px;
}
.numero {
	position: relative;
	top: -300px;
	right: -170px;
	text-decoration: none;
	color: white;
	color: #1680F2;
}
.finalizado {
	font-weight: bold;
	font-size: 25px;
}
.skype {
	position: relative;
	top: -290px;
	right: -20px;

}
form {
	position: relative;
	right: -10px;
	bottom: -100px;
}
input {
	width: 700px;
	height: 40px;
	padding: 20px;
	margin-bottom: 10px;
	border: 2px solid #DAD7D7;
}
textarea {
	width: 700px;
	height: 200px;
	border: 2px solid #DAD7D7;
}
button {
	width: 700px;
	height: 60px;
	background: #192951;
	border-radius: 10px;
	margin-top: 10px;
}
.formulario {
	position: relative;
	top: -100px;
}
.subtitulos {
	color: #192951;
	position: relative;
	left: -5px;
	top: -50px;
}
button h3{
	color: white;
}
.patines {
	width: 940px;
	height: 600px;
	position: relative;
	right: -710px;
	top: -465px;
}
footer {
	width: 1900px;
	height: 100px;
	position: relative;
	top: -460px;
	left: -150px;
	background: #192951;
}
footer p{
	position: relative;
	top: -1px;
	left: -1px;
	width: 500px;
	color: white;
	padding-top: 40px;
	padding-left: 40px;
}